*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body{
	font-family: arial, sans-serif;
	overflow-x: hidden;
	height: 100%;
	font-size: 20px;
}

/*=======================nav bar===================================*/
header{
    height: 19%;
    box-shadow: 0px 6px 5px 1px #696969;
    background-color: #00afb5;
}
.club{
	margin-right: 85px;
	width: 180px;
}
.head h1{
    color: #BBDEFB;
    text-shadow: 2px 2px 0px #37474F, 4px 3px 2px #37474F;
    font-family: agency fb;
    font-size: 62px;
    word-spacing: 12px;
    letter-spacing: 1px;
}

.head h3{
	color: rgba(0,0,0,0.8);
	font-family: Verdana;
	font-size: 37px;
}

nav li{
	list-style: none;
	display: inline;
	width: 100%;

}


ul li a{
	padding: 19px 20px 15px 20px;
    text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	font-family: arial;
	font-size: 70%;
	font-weight: bold;
	display: box;
}

ul li a:hover{
	background-color: #7fcbcd;
	color: #00979d;
	cursor: pointer;
	
}

table{
	margin: auto;
}

.main-nav{
	line-height: 50px;
	background-color: #00979d;
	width: 100%;
	height: 50px;
	text-align: center;
}

/*===================================start of body===============================*/
.inner-box{transition-duration:.3s;padding-bottom:10px;  }

.inner-box:hover{
	box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
}
section{
	width: 100%;
    padding-top:40px; 
}
.main-cont{
    width:93%;
    margin: 0px auto 20px;
}

img.image{
	width:95%;
	margin: 15px;
	height: 85%;
}

img.self{
    height: 400px;
	width: 70%;
	margin: 15px 95px;
}

.box{
    width:100%;
    display:grid;
    grid-template-columns:48% 48%;
    grid-gap:4%; 
    margin-bottom:30px; 
}

.box h1 {text-align: center;}

/*================================footer==============================*/

footer{
	text-align: center;
	width: 100%;
	background-color: #BF360C;
	color: #CFD8DC;
}

.footer-nav .foot{

padding: 10px 20px;

}


.footer-nav .foot:hover{
	background-color: #82B1FF;
	color: #0D47A1;
	border-radius: 15px;

}


.profile{
	text-decoration: none;
	color: #7ed6df;
	border-bottom: 2px solid #7ed6df;
}/*===========responsive=============*/


/*tablet, landscape, low resulation laptop and desktop*/
@media (max-width: 992px){
	
	.club{
		height: 150px;
		width: 150px;
	}

	.head h1{
		font-size: 350%;
	}

	.head h3{
		font-size: 220%;
	}

	
	ul li a{
		font-size: 60%;
	}

	

	.main-cont{    
        
        
	}

}



/*portrait tablet, e-book reader*/
@media (max-width: 768px){
	
	.club{
		margin-right: 20px;
		height: 150px;
		width: 150px;
	}

	.head h1{
		font-size: 270%;
	}

	.head h3{
		font-size: 180%;
	}


	/*nav bar responsive*/
	ul li a{
		padding: 19px 15px 15px 15px;
		font-size: 47%;
		margin-right: 0px;
		margin-left: 0px;
	}

	.main-cont h1{
		font-size: 100%;
	}

	.footer-nav .foot{
		padding: 10px 15px;
	}
}

/*smartphone, andriod, iphone*/
@media (max-width: 600px){

	.club{
		margin-right: 0px;
		height: 120px;
		width: 120px;
	}

	.head h1{
		font-size: 200%;
	}

	.head h3{
		font-size: 140%;
	}


	/*nav bar responsive*/
	ul li a{
		padding: 19px 7px 15px 7px;
		font-size: 47%;
		margin-right: 0px;
        margin-left: 0px;}

	.box{
    width:100%;
    display:grid;
    grid-template-columns:100%;
    margin-bottom:50px; 
}

	.footer-nav .foot{
		padding: 10px 7px;
	}

}
@media (max-width: 580px){
.main-cont{
    width: 86%;
    padding-left:19px;     
    margin: 0 auto;
	text-align: center;
    display: grid;
    grid-template-columns:96%;
}
    }
/*portrait iphone, portraite 480x320 phones (Android)*/
@media (max-width: 480px){

	.club{
		margin-right: 0px;
		height: 110px;
		width: 110px;
	}

	.head h1{
		font-size: 150%;
	}

	.head h3{
		font-size: 120%;
	}

	/*nav bar responsive*/
	ul li a{
		padding: 19px 2px 15px 2px;
		font-size: 47%;
		margin-right: 0px;
		margin-left: 0px;
	}

	.main-cont h1{
		font-size: 20px;
	}

	.pro-6 h1{
		padding-top: 2px;
	}

	.project .lfr2-pic{
		margin-left: 0px;
	}

	.project .android-pic{
		margin-left: 0px;
	}

	.footer-nav .foot{
		padding: 10px 2px;
	}

	/*self development image resize alignment*/

	img.self{
		margin: 15px 30px;
	}

}
