*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body{
	font-family: arial, sans-serif;
	overflow-x: hidden;
	height: 100%;
	font-size: 20px;
}

/*=======================nav bar===================================*/
header{
    height: 19%;
    box-shadow: 0px 6px 5px 1px #696969;
    background-color: #00afb5;
}

.club{
	margin-right: 85px;
	width: 180px;
}
.head h1{
    color: #BBDEFB;
    text-shadow: 2px 2px 0px #37474F, 4px 3px 2px #37474F;
    font-family: agency fb;
    font-size: 62px;
    word-spacing: 12px;
    letter-spacing: 1px;
}

.head h3{
	color: rgba(0,0,0,0.8);
	font-family: Verdana;
	font-size: 37px;
}

nav li{
	list-style: none;
	display: inline;
	width: 100%;

}


ul li a{
	padding: 19px 20px 15px 20px;
    text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	font-family: arial;
	font-size: 70%;
	font-weight: bold;
	display: box;
}

ul li a:hover{
	background-color: #7fcbcd;
	color: #00979d;
	cursor: pointer;
	
}

table{
	margin: auto;
}
.main-nav{
	line-height: 50px;
	background-color: #00979d;
	width: 100%;
	height: 50px;
	text-align: center;
}

/*===================================start of body===============================*/

section{
	width: 100%;
}

section h1{
	font-size: 230%;
	font-family: monospace;
	color: #9C27B0;
	margin: 10% 11%;
	text-align: center;
}

/*================================footer==============================*/

footer{
	text-align: center;
	width: 100%;
	background-color: #BF360C;
	color: #CFD8DC;
}

.footer-nav .foot{

padding: 10px 20px;

}


.footer-nav .foot:hover{
	background-color: #82B1FF;
	color: #0D47A1;
	border-radius: 15px;

}


.profile{
	text-decoration: none;
	color: #7ed6df;
	border-bottom: 2px solid #7ed6df;
}
/*===========responsive=============*/


/*tablet, landscape, low resulation laptop and desktop*/
@media (max-width: 992px){
	
	.club{
		height: 150px;
		width: 150px;
	}

	.head h1{
		font-size: 350%;
	}

	.head h3{
		font-size: 220%;
	}

	
	ul li a{
		font-size: 60%;
	}

	

	.main-cont{    
        
        
	}

}



/*portrait tablet, e-book reader*/
@media (max-width: 768px){
	
	.club{
		margin-right: 20px;
		height: 150px;
		width: 150px;
	}

	.head h1{
		font-size: 270%;
	}

	.head h3{
		font-size: 180%;
	}


	/*nav bar responsive*/
	ul li a{
		padding: 19px 15px 15px 15px;
		font-size: 47%;
		margin-right: 0px;
		margin-left: 0px;
	}

	.main-cont h1{
		font-size: 100%;
	}

	.footer-nav .foot{
		padding: 10px 15px;
	}
}
/*project responsive*/
@media (max-width: 688px){
    .main-cont{
    width: 75%;
    padding-left:22px;     
    margin: 0 auto;
	text-align: center;
    display: grid;
    grid-template-columns:95%;
}
    .pic{width:90%; 
    height: auto;
}
}

/*smartphone, andriod, iphone*/
@media (max-width: 600px){

	.club{
		margin-right: 0px;
		height: 120px;
		width: 120px;
	}

	.head h1{
		font-size: 200%;
	}

	.head h3{
		font-size: 140%;
	}


	/*nav bar responsive*/
	ul li a{
		padding: 19px 7px 15px 7px;
		font-size: 47%;
		margin-right: 0px;
        margin-left: 0px;}

	.main-cont h1{
		font-size: 100%;
	}

	.footer-nav .foot{
		padding: 10px 7px;
	}

}
@media (max-width: 580px){
.main-cont{
    width: 86%;
    padding-left:19px;     
    margin: 0 auto;
	text-align: center;
    display: grid;
    grid-template-columns:96%;
}
    }
/*portrait iphone, portraite 480x320 phones (Android)*/
@media (max-width: 480px){

	.club{
		margin-right: 0px;
		height: 110px;
		width: 110px;
	}

	.head h1{
		font-size: 150%;
	}

	.head h3{
		font-size: 120%;
	}

	section h1{
		font-size: 100%;
	}

	/*nav bar responsive*/
	ul li a{
		padding: 19px 2px 15px 2px;
		font-size: 47%;
		margin-right: 0px;
		margin-left: 0px;
	}

	.main-cont h1{
		font-size: 20px;
	}

	.pro-6 h1{
		padding-top: 2px;
	}

	.project .lfr2-pic{
		margin-left: 0px;
	}

	.project .android-pic{
		margin-left: 0px;
	}

	.footer-nav .foot{
		padding: 10px 2px;
	}

}